.custom-motto h3 {
    font-style: italic;
}

.custom-motto h3 img {
    margin-right: 30px;
    width: 8%;
}

.footer-area .footer-logo,
.footer-area .textwidget,
.footer-area .social-icon {
    text-align: center;
}

.footer-logo img {
    width: 50%;
}

.navbar h3 {
    font-size: 27px;
}

.navbar-brand img,
.top-nav-collapse .navbar-brand img {
    width: 12%;
}

.navbar-brand {
    display: inline;
}